config
continuedata
continuesave
data.pak
.dep.inc
dfsg_diff.patch
*.diff
diff.txt
dist
doc/TODO
edgar
edgar.pak
en_GB
locale/*.mo
makefile.dep
map_diff.txt
mapeditor*
medaldata
medalKey
medals
messages.po
pak*
po_creator*
readme_dfsg
replay.dat
save*
src_diff.txt
stderr.txt
stdout.txt
test
tile_creator
tmpdata
tmpsave
upload.sh
obj
*.exe
