1 ICON DISCARDABLE "icons/edgar.ico"
1 VERSIONINFO
FILEVERSION    1,14,0,0
PRODUCTVERSION 1,14,0,0
FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName"    , "Parallel Realities"
            VALUE "FileDescription", "A 2D platform game with a persistent world"
            VALUE "FileVersion"    , "1.31.0.0"
            VALUE "ProductName"    , "The Legend of Edgar"
            VALUE "ProductVersion" , "1.31.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
