[Desktop Entry]
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=1.0
Name=The Legend of Edgar
Icon=edgar
Exec=edgar
Terminal=false
Type=Application
